body {
    background-image: url("bgflower.jpg");
    background-repeat: repeat-y;
    background-size: cover;

}

.div {
    text-align: center;
    border: 5px outset black;
    background-color: lightblue;   
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}